<a href="https://colab.research.google.com/github/jubin-k/IPL-2008-2016/blob/main/IPL_2008_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Get Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df_match=pd.read_csv("/content/matches.csv")
df_match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [ ]:
df_match['result'].value_counts()

normal       626
tie            7
no result      3
Name: result, dtype: int64

In [ ]:
df_del=pd.read_csv("/content/deliveries.csv")
df_del

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [ ]:
df_del.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
df_match.shape

(636, 18)

In [ ]:
#We don't need all the columns but specific columns from both the dataframes
#from df_match we need id,season,city,team1,team2,toss_decision
#from df_del , we need total runs,

In [ ]:
df_match['team1'].unique()
df_del['bowling_team'].unique()
#Deccan charger=sunrisers hydbd

array(['Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Rising Pune Supergiant', 'Mumbai Indians',
       'Kolkata Knight Riders', 'Gujarat Lions', 'Kings XI Punjab',
       'Delhi Daredevils', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors',
       'Rising Pune Supergiants'], dtype=object)

In [ ]:
df_match['team1']=df_match['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
df_match['team2']=df_match['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [ ]:
#we obtain total runs obtained in each innings
df_runs=df_del.groupby(['match_id','inning','batting_team','bowling_team']).sum()['total_runs'].reset_index()
df_runs

,match_id,inning,batting_team,bowling_team,total_runs
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,207
1,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,172
2,2,1,Mumbai Indians,Rising Pune Supergiant,184
3,2,2,Rising Pune Supergiant,Mumbai Indians,187
4,3,1,Gujarat Lions,Kolkata Knight Riders,183
...,...,...,...,...,...
1279,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,140
1280,635,1,Gujarat Lions,Sunrisers Hyderabad,162
1281,635,2,Sunrisers Hyderabad,Gujarat Lions,163
1282,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,208
1283,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,200

In [ ]:
df_runs['run_rate']=df_runs['total_runs']/20 
df_runs['run_rate_required']=df_runs[df_runs['inning']==1]['run_rate']
df_runs['run_rate_of_chase_team']=df_runs[df_runs['inning']==2]['run_rate']
df_runs['total_run']=df_runs[df_runs['inning']==1]['total_runs']
df_runs['chase_on']=df_runs[df_runs['inning']==2]['total_runs']
df_runs

,match_id,inning,batting_team,bowling_team,total_runs,run_rate,run_rate_required,run_rate_of_chase_team,total_run,chase_on
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,207,10.35,10.35,NaN,207.0,NaN
1,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,172,8.60,NaN,8.60,NaN,172.0
2,2,1,Mumbai Indians,Rising Pune Supergiant,184,9.20,9.20,NaN,184.0,NaN
3,2,2,Rising Pune Supergiant,Mumbai Indians,187,9.35,NaN,9.35,NaN,187.0
4,3,1,Gujarat Lions,Kolkata Knight Riders,183,9.15,9.15,NaN,183.0,NaN
...,...,...,...,...,...,...,...,...,...,...
1279,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,140,7.00,NaN,7.00,NaN,140.0
1280,635,1,Gujarat Lions,Sunrisers Hyderabad,162,8.10,8.10,NaN,162.0,NaN
1281,635,2,Sunrisers Hyderabad,Gujarat Lions,163,8.15,NaN,8.15,NaN,163.0
1282,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,208,10.40,10.40,NaN,208.0,NaN
1283,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,200,10.00,NaN,10.00,NaN,200.0

In [ ]:
r3=df_runs['run_rate_required'].dropna().reset_index().squeeze().drop(['index'],axis=1)
r4=df_runs['run_rate_of_chase_team'].dropna().reset_index().squeeze().drop(['index'],axis=1)
r1=df_runs['total_run'].dropna().reset_index().squeeze().drop(['index'],axis=1)
r2=df_runs['chase_on'].dropna().reset_index().squeeze().drop(['index'],axis=1)

In [ ]:
df_runs.drop(['run_rate_required','run_rate_of_chase_team','total_run','chase_on','total_runs','run_rate'],axis=1,inplace=True)

In [ ]:
df_runs=df_runs[df_runs['inning']==1]
df_runs

,match_id,inning,batting_team,bowling_team
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore
2,2,1,Mumbai Indians,Rising Pune Supergiant
4,3,1,Gujarat Lions,Kolkata Knight Riders
6,4,1,Rising Pune Supergiant,Kings XI Punjab
8,5,1,Royal Challengers Bangalore,Delhi Daredevils
...,...,...,...,...
1274,632,1,Delhi Daredevils,Royal Challengers Bangalore
1276,633,1,Gujarat Lions,Royal Challengers Bangalore
1278,634,1,Sunrisers Hyderabad,Kolkata Knight Riders
1280,635,1,Gujarat Lions,Sunrisers Hyderabad
1282,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore

In [ ]:
df_runs.drop(['inning'],axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
df_runs=df_runs.reset_index()

In [ ]:
df_runs

     index  match_id                 batting_team                 bowling_team
0        0         1          Sunrisers Hyderabad  Royal Challengers Bangalore
1        2         2               Mumbai Indians       Rising Pune Supergiant
2        4         3                Gujarat Lions        Kolkata Knight Riders
3        6         4       Rising Pune Supergiant              Kings XI Punjab
4        8         5  Royal Challengers Bangalore             Delhi Daredevils
..     ...       ...                          ...                          ...
631   1274       632             Delhi Daredevils  Royal Challengers Bangalore
632   1276       633                Gujarat Lions  Royal Challengers Bangalore
633   1278       634          Sunrisers Hyderabad        Kolkata Knight Riders
634   1280       635                Gujarat Lions          Sunrisers Hyderabad
635   1282       636          Sunrisers Hyderabad  Royal Challengers Bangalore

[636 rows x 4 columns]

In [ ]:
df_rate=pd.concat([df_runs,r1,r2,r3,r4],axis=1)
df_rate

,index,match_id,batting_team,bowling_team,total_run,chase_on,run_rate_required,run_rate_of_chase_team
0,0,1,Sunrisers Hyderabad,Royal Challengers Bangalore,207.0,172.0,10.35,8.60
1,2,2,Mumbai Indians,Rising Pune Supergiant,184.0,187.0,9.20,9.35
2,4,3,Gujarat Lions,Kolkata Knight Riders,183.0,184.0,9.15,9.20
3,6,4,Rising Pune Supergiant,Kings XI Punjab,163.0,164.0,8.15,8.20
4,8,5,Royal Challengers Bangalore,Delhi Daredevils,157.0,142.0,7.85,7.10
...,...,...,...,...,...,...,...,...
631,1274,632,Delhi Daredevils,Royal Challengers Bangalore,138.0,140.0,6.90,7.00
632,1276,633,Gujarat Lions,Royal Challengers Bangalore,158.0,163.0,7.90,8.15
633,1278,634,Sunrisers Hyderabad,Kolkata Knight Riders,162.0,200.0,8.10,10.00
634,1280,635,Gujarat Lions,Sunrisers Hyderabad,162.0,NaN,8.10,NaN
635,1282,636,Sunrisers Hyderabad,Royal Challengers Bangalore,208.0,NaN,10.40,NaN

In [ ]:
df_rate.drop(['index'],axis=1,inplace=True)

In [ ]:
df_rate.columns

Index(['match_id', 'batting_team', 'bowling_team', 'total_run', 'chase_on',
       'run_rate_required', 'run_rate_of_chase_team'],
      dtype='object')

In [ ]:
df_match.rename(columns={'id':'match_id'},inplace=True)

In [ ]:
df_match.columns

Index(['match_id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [ ]:
#now merge some of the columns from df_match
#season,city,result,dl_applied,winner,winby runs ,win by wickets,winner,venue
df=df_rate.merge(df_match[['match_id','season','city','result','dl_applied','win_by_wickets','winner','venue']],on='match_id')

In [ ]:
df

,match_id,batting_team,bowling_team,total_run,chase_on,run_rate_required,run_rate_of_chase_team,season,city,result,dl_applied,win_by_wickets,winner,venue
0,1,Sunrisers Hyderabad,Royal Challengers Bangalore,207.0,172.0,10.35,8.60,2017,Hyderabad,normal,0,0,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
1,2,Mumbai Indians,Rising Pune Supergiant,184.0,187.0,9.20,9.35,2017,Pune,normal,0,7,Rising Pune Supergiant,Maharashtra Cricket Association Stadium
2,3,Gujarat Lions,Kolkata Knight Riders,183.0,184.0,9.15,9.20,2017,Rajkot,normal,0,10,Kolkata Knight Riders,Saurashtra Cricket Association Stadium
3,4,Rising Pune Supergiant,Kings XI Punjab,163.0,164.0,8.15,8.20,2017,Indore,normal,0,6,Kings XI Punjab,Holkar Cricket Stadium
4,5,Royal Challengers Bangalore,Delhi Daredevils,157.0,142.0,7.85,7.10,2017,Bangalore,normal,0,0,Royal Challengers Bangalore,M Chinnaswamy Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,Delhi Daredevils,Royal Challengers Bangalore,138.0,140.0,6.90,7.00,2016,Raipur,normal,0,6,Royal Challengers Bangalore,Shaheed Veer Narayan Singh International Stadium
632,633,Gujarat Lions,Royal Challengers Bangalore,158.0,163.0,7.90,8.15,2016,Bangalore,normal,0,4,Royal Challengers Bangalore,M Chinnaswamy Stadium
633,634,Sunrisers Hyderabad,Kolkata Knight Riders,162.0,200.0,8.10,10.00,2016,Delhi,normal,0,0,Sunrisers Hyderabad,Feroz Shah Kotla
634,635,Gujarat Lions,Sunrisers Hyderabad,162.0,NaN,8.10,NaN,2016,Delhi,normal,0,4,Sunrisers Hyderabad,Feroz Shah Kotla
635,636,Sunrisers Hyderabad,Royal Challengers Bangalore,208.0,NaN,10.40,NaN,2016,Bangalore,normal,0,0,Sunrisers Hyderabad,M Chinnaswamy Stadium

In [ ]:
df['result'].value_counts()

normal       626
tie            7
no result      3
Name: result, dtype: int64

In [ ]:
df['dl_applied'].value_counts()

0    620
1     16
Name: dl_applied, dtype: int64

In [ ]:
#let us consider only normal condition,removing ties  and no results
#and also in dl applied, non rainy situations
df=df[df['result']=='normal']
df=df[df['dl_applied']==0]
df.drop(['result','dl_applied'],axis=1,inplace=True)

In [ ]:
#let us rearrange the columns
df=df.loc[:,['match_id','season','city','venue','batting_team','bowling_team','total_run','chase_on','run_rate_required','run_rate_of_chase_team','winner']]

In [ ]:
def result(row):
  return 1 if row['batting_team']==row['winner'] else 0

In [ ]:
df['result'] = df.apply(result,axis=1)

In [ ]:
df.drop(['winner'],axis=1,inplace=True)

In [ ]:
df

,match_id,season,city,venue,batting_team,bowling_team,total_run,chase_on,run_rate_required,run_rate_of_chase_team,result
0,1,2017,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,207.0,172.0,10.35,8.60,1
1,2,2017,Pune,Maharashtra Cricket Association Stadium,Mumbai Indians,Rising Pune Supergiant,184.0,187.0,9.20,9.35,0
2,3,2017,Rajkot,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,183.0,184.0,9.15,9.20,0
3,4,2017,Indore,Holkar Cricket Stadium,Rising Pune Supergiant,Kings XI Punjab,163.0,164.0,8.15,8.20,0
4,5,2017,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,157.0,142.0,7.85,7.10,1
...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Royal Challengers Bangalore,138.0,140.0,6.90,7.00,0
632,633,2016,Bangalore,M Chinnaswamy Stadium,Gujarat Lions,Royal Challengers Bangalore,158.0,163.0,7.90,8.15,0
633,634,2016,Delhi,Feroz Shah Kotla,Sunrisers Hyderabad,Kolkata Knight Riders,162.0,200.0,8.10,10.00,1
634,635,2016,Delhi,Feroz Shah Kotla,Gujarat Lions,Sunrisers Hyderabad,162.0,NaN,8.10,NaN,0
635,636,2016,Bangalore,M Chinnaswamy Stadium,Sunrisers Hyderabad,Royal Challengers Bangalore,208.0,NaN,10.40,NaN,1